# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Build
*.egg-info/
dist/
build/
